body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }
        
        #employees-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            height: calc(100% - 50px);
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
        }
        
        .employee {
            background-color: #333;
            color: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            width: 80%;
            max-width: 600px;
            box-sizing: border-box;
        }
        
        .employee img {
            width: 100%;
            max-width: 200px;
            border-radius: 50%;
            margin-bottom: 10px;
        }